# Environments
.env
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# IDEs / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Sensitive files / keys
*.pem
*.key
secret.json
